:root {
    --primary-color: #7848AA;
    --secondary-color: #63DADE;
    --tertiary-color: #0D0D0D;
  }

  header {
    background-color: var(--primary-color);
  }

  header h1 {
      color: var(--secondary-color);
  }

  body {
      background-color: var(--tertiary-color);
  }

  h1 {
      color: var(--primary-color)
  }

  p {
      color: var(--secondary-color);
  }

  footer {
      background-color: var(--secondary-color);
  }

  footer h1 {
      color: var(--primary-color)
  }

